server:
  port: ${PORT:8101}

spring:
  application:
    name: project-101.back.java

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5433}/${DB_NAME:project101_java}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    initialization-mode: always
    initialize: true
    continue-on-error: true
    platform: postgresql
    maxActive: 3

  jpa:
    hibernate:
      ddl-auto: none # update, create-drop, none
      format_sql: true
    show_sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL9Dialect

      # javax:
      #   persistence:
      #     schema-generation:
      #       scripts:
      #         action: create
      #         create-target: create.sql
      #         create-source: metadata

app-config:
  name: ${APP_NAME:Project 101}
  description: ${APP_DESCRIPTION:Projeto backend somo para estudos.}
  version: ${APP_VERSION:1.0.0}
  url: ${APP_URL:http://localhost:8082}

  key: ${APP_KEY:ZGVtby1zZWNyZXQtZGV2LTEyMzQ1Ng==} # demo-secret-dev-123456 em base64

  jwt:
    secret: ${app-config.key}
    issuer: ${app-config.url}
    audience: ${app-config.url}
    expiration: ${APP_JWT_EXPIRATION:1440} # minutes

